*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    background-color:rgb(244, 247, 246);
}

/*-----------titre-----------------------*/

h1{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    width: 100%;
    background-color: rgb(255, 218, 20);
    text-align: center;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 60px;
}
h1 p{
    font-family: "Open Sans", serif;
    font-size: 15px;
    color: #333;
    text-align: center;
}
#disable{
    display: none;
}
#disablePortait{
    display: none;
}

/*-----------déchets-----------------------*/
#dechets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    color: white;
}
.dechet_id:hover{
    opacity:1;
}

.dechet_id {
    margin-left: 20px;
    color: #333;
    opacity: .6;
  }
.dechet_id:hover{
    transform: scale(1.5);
    font-weight: bold;

}
#da:active {transform: scale(1.5);opacity:1}

/*-----------poubelles-----------------------*/
#poubelles{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fas{
    padding: 20px;
    font-size: 350%;
    display: block;
}
#pJ_non{
    display: none;
    margin-left: 135px;
}

#pJ_non, .pJ_visible, .btn{
    background-color: transparent;
    border-bottom-style: none;
    outline-style: none;
}
#pJ_non:hover, .pJ_visible:hover{
    transform: scale(0.97);
}
.btn:active {
    outline-style: none;
    border: none;
}
/*-----------champ-----------------------*/


.champ{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;

}
#resultat{
    padding: 15px;
    width: 450px;
    margin: 0 30px 0 30px;
    border: none;
    letter-spacing: 2px;
    font-family: "Open Sans", serif;
    border-radius: 10px;
    text-align: center;
}

#score{
    padding: 15px;
    width: 200px;
    background-color: white;
    color: #333;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

footer{
    background-color: lightgrey;
    font-size: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
/*============================MEDIA QUERIES==================================*/
@media screen and (max-width:736px) {

    #dechets,#poubelles,#score,#resultat,p,footer{
        display: none;
    }
    #disable{
        display: block;
    }

}
/*-------------------------------------*/

@media screen and (min-width:1024px) and (orientation: landscape) {

    #dechets{
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        color: white;
    }
.dechet_id{
    margin-left: 0;
    color: #333;
    opacity: .6;
}
    img{
        width: 100%;
    }
}
/*-------------------------------------*/
@media (orientation: portrait) {

    #dechets,#poubelles,#score,#resultat,p,footer, #disable{
        display: none;
    }
    #disablePortait{
        display: block;
    }
}

