body{
    margin: 0;
    padding: 0;
    background-color:rgb(243, 243, 243);
    height: auto;
}

/*-----------titre-----------------------*/


h1{

    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(255, 218, 20);
}
p{

    font-size: 18px;
    color: #333;
    text-align: center;
}

/*-----------déchets-----------------------*/
#dechets{
    /*display: flex;*/
    margin-left: 300px;
    cursor: pointer;
    color: white;
}
#da:hover, #db:hover, #dc:hover,#dd:hover,#de:hover, #df:hover, #dg:hover,#dh:hover,#di:hover,#dj:hover{
    opacity:1;
}

#da, #db, #dc,#dd,#de, #df, #dg,#dh,#di,#dj{
   margin-left: 20px;
    color: #333;
    opacity: .6;
  }
#da:hover, #db:hover, #dc:hover,#dd:hover,#de:hover, #df:hover, #dg:hover,#dh:hover,#di:hover,#dj:hover{
    transform: scale(1.5);
    font-weight: bold;

}
#da:active {transform: scale(1.5);opacity:1}

/*-----------poubelles-----------------------*/
#poubelles{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fas{
    padding: 20px;
    font-size: 350%;
    display: block;
}
#pJ_non{
    display: none;
    margin-left: 135px;
}
#pJ_visible{
    margin-left: 80px;
}


#pJ_non, #pJ_visible, .btn{
    background-color: transparent;
    border-bottom-style: none;
    outline-style: none;
}
#pJ_non:hover, #pJ_visible:hover{
    transform: scale(0.97);
}
.btn:active{
    outline-style: none;
    border: none;
}
/*.btn:focus { outline:0 !important; }
.btn:active { outline:0 !important; }
*/
/*
#Pjaune, #Pbleu, #Pvert, #Pmarron{
    width: 300px;
    height: 150px;
    margin: 50px 20px 80px 20px;
    text-align: center;
    color: white;

}

#Pjaune {background-color: #E0D42B;}
#Pvert  {background-color: #0B2E13;}
#Pbleu  {background-color: #16193D;}
#Pmarron {background-color:#69471E;}
*/
/*-----------champ-----------------------*/


.champ{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;

}
#resultat{
    padding: 15px;
    width: 450px;
    margin: 0 30px 0 30px;
    border: none;
    letter-spacing: 2px;
    font-family: "Open Sans", serif;
}

#score{
    padding: 15px;
    width: 200px;
    background-color: white;
    color: #333;
    font-size: 30px;
}

#footer{
    background-color: yellow;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
}
